<?xml version="1.0" encoding="utf-8"?>
<!-- 앱의 메타정보를 가지고 있다, 어떤 권한이 필요하고 어떤 화면이 등록되어있다 등의 정보 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a60029511.a20170902test">
    <!-- 필수 퍼미션(권한) = 인터넷, 네트워크, 카메라, 주소록 등 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 어플리케이션 -->
    <!-- 어플리케이션 태그 자체는 특정 class 를 연결하여 65k개의 메소드 초과시 처리를 하거나,메모리를 최대치로 확보하거나
    등등 앱 자체를 수정할 수 있다 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainpic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mainpic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 화면 단위 -->
        <activity android:name=".MainActivity">
            <!-- 앱 구동시 가장 먼저 구동시킬 액티비티 지정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>